### Connection String

In [10]:
pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.7MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./opt/anaconda3/lib/python3.7/site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install mysql.connector

Collecting mysql.connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |█████████████████████▉          | 8.1MB 11.5MB/s eta 0:00:01

In [12]:
import pandas as pd
import sqlalchemy

In [13]:
engine  = sqlalchemy.create_engine('mysql+pymysql://root:12345678@localhost:3306/StockPredictions')

In [14]:
df = pd.read_sql_table("PortfolioCalculations",engine)

In [15]:
df

,ClientName,ClientAccountNumber,FacebbokAlloc,AppleAlloc,AmazonAlloc,NetflixAlloc,GoogleAlloc,PortfolioValue
0,Avinash Chourasiya,12345678,1.5,40.5,8.09,90.0,100.0,0.0
1,Nikhil Kohli,12209078,1.5,405.0,80.09,90.0,100.0,0.0